annotated-types
attrs
bcrypt
beautifulsoup4
blinker
cffi
charset-normalizer
click
colorama
cryptography
flasgger
Flask==3.1.2
Flask-Bcrypt
flask-cors
Flask-SQLAlchemy
greenlet
gunicorn
idna
itsdangerous
Jinja2
jsonschema
jsonschema-specifications
MarkupSafe
mistune
packaging
playwright
proto-plus
protobuf
psycopg2-binary
pyasn1
pyasn1_modules
pycparser
pydantic
pydantic_core
pyee
pyparsing
python-dotenv
PyYAML
referencing
requests
rpds-py
six
soupsieve
SQLAlchemy
tqdm
typing-inspection
typing_extensions
uritemplate
urllib3
Werkzeug
PyJWT
edge-tts>=6.1.9
scrapy
google-genai
anyio
httpx
httpcore
deep-translator
google-generativeai
